body {
    font-family: "Arial", serif;
    color: black;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.child {
    width: 300px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.child-green {
    background-color: green;
}

.child-gray {
    background-color: lightgray;
}

.child-red {
    background-color: red;
}