body {
    font-family: "Arial", serif;
    font-size: 16px;
    line-height: 1.5;
    color: #222;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    font-size: 24px;
    background-color: lightblue;
    transition: font-size 0.4s ease,
        background-color 0.4s ease,
        color 0.4s ease;

}

.box:hover {
    font-size: 48px;
    background-color: lightgreen;
    color: #fff;

}