body {
    font-family: "Arial", serif;
    color: black;
}

.parent {
    display: flex;
    background-color: lightblue;
}

.child {
    width: 300px;
}

.child-green {
    background-color: green;
}

.child-green:hover {
    background-color: aquamarine;
}

.child-gray {
    background-color: lightgray;
}

.child-gray:hover {
    background-color: rgb(122, 119, 119);
}

.child-red {
    background-color: red;
}

.child-red:hover {
    background-color:coral;
}

.demo-test-link {
    background-color: black;
    color: white;
    text-decoration: none;
}

.demo-test-link:hover {
    background-color: gold;
    color: #222;
}

.demo-test-link:active {
    background-color: rgba(255, 217, 0, 0.5);
}

.demo-test-link:focus {
    background-color: orangered;
}

a:visited {
    color: grey;
}